@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(0.9755 0.0045 258.32);
  --background-surface: oklch(0.9288 0.0126 255.51);
  --background-secondary: oklch(1 0 0);
  --background-lightgray: oklch(0.96 0.0063 255.48);
  --background-darkgray: oklch(0.96 0.0063 255.48);
  --foreground: oklch(0.129 0.042 264.695);
  --foreground-system-danger: oklch(0.9356 0.0309 17.72);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(1 0 0);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --border-primary: oklch(0.8576 0.0188 269.06);
  --border-quarternary: oklch(0.2077 0.0398 265.75);
  --border-brand: oklch(72.357% 0.1444 258.403);
  --background-gray: oklch(88.365% 0.03568 264.402);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
  --txt-secondary: oklch(0.339 0.0328 270.26);
  --txt-tertiary: oklch(0.4976 0.04 268.84);
  --txt-system-danger: oklch(0.712 0.165 22.59);
  --txt-brand: oklch(0.6187 0.2067 259.23);
  --txt-blue: oklch(0.6005 0.2165 263.58);
  --txt-primary-blue: oklch(48.814% 0.23413 263.223);
  --txt-primary: oklch(0.2109 0.0246 269.98);
  --txt-system-danger: oklch(0.506 0.1899 27.66);
  --txt-dark-grey: oklch(0.96 0.0063 255.48);
  --txt-zinc-black: oklch(14.5% 0 0);
  --neutral-primary: oklch(0.18 0 0);
  --neutral-secondary: oklch(0.3171 0 0);
  --system-danger-hard: oklch(0.51 0.1899 27.66);
  --icon-tertiery: oklch(0.7316 0 0);
  --icon-brand-primary: oklch(47.402% 0.10942 240.834);
  --icon-system-danger: oklch(0.6378 0.207 25.54);
  --elements-quarternary: oklch(0.8213 0 0);
  --brand-primary: oklch(0.59 0.14069 241.9015);
}

.dark {
  --background: oklch(0.18 0.0188 274.65);
  --background-surface: oklch(0.9842 0.0034 247.86);
  --background-secondary: oklch(0.2338 0.037 267.49);
  --background-gray: oklch(0.2024 0.0183 274.9);
  --background-lightgray: oklch(23.889% 0.0207 264.084);
  --background-darkgray: oklch(0.2791 0.0226 273.89);
  --foreground: oklch(0.984 0.003 247.858);
  --foreground-system-danger: oklch(0.2602 0.0383 9.27);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.2109 0.0246 269.98);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --border-primary: oklch(0.3665 0.0375 270.18);
  --border-quarternary: oklch(0.9612 0 0);
  --border-brand: oklch(72.357% 0.1444 258.403);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --txt-secondary: oklch(0.7017 0.0328 273.45);
  --txt-tertiary: oklch(0.7268 0.0328 271.56);
  --txt-brand: oklch(0.8071 0.100651 250.4462);
  --txt-blue: oklch(0.6005 0.2165 263.58);
  --txt-primary-blue: oklch(48.814% 0.23413 263.223);
  --txt-primary: oklch(1 0 0);
  --txt-system-danger: oklch(70.575% 0.17917 22.792);
  --txt-zinc-black: oklch(70.4% 0.04 256.788);
  --bg-dark-grey: oklch(0.2791 0.0226 273.89);
  --neutral-primary: oklch(1 0 0);
  --neutral-secondary: oklch(0.8699 0 0);
  --system-danger-hard: oklch(0.51 0.1899 27.66);
  --icon-tertiery: oklch(0.7316 0 0);
  --icon-brand-primary: oklch(70.004% 0.15577 239.501);
  --icon-system-danger: oklch(0.6378 0.207 25.54);
  --elements-quarternary: oklch(0.8031 0.0222 4.76);
  --brand-primary: oklch(0.59 0.14069 241.9015);
}

@theme inline {
  --color-background-surface: var(--background-surface);
  --color-background-secondary: var(--background-secondary);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-system-danger: var(--foreground-system-danger);
  --color-background-gray: var(--background-gray);
  --color-background-lightgray: var(--background-lightgray);
  --color-background-darkgray: var(--background-darkgray);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-border-primary: var(--border-primary);
  --color-border-quarternary: var(--border-quarternary);
  --color-border-brand: var(--border-brand);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-txt-secondary: var(--txt-secondary);
  --color-txt-tertiary: var(--txt-tertiary);
  --color-txt-brand: var(--txt-brand);
  --color-txt-blue: var(--txt-blue);
  --color-txt-primary-blue: var(--txt-primary-blue);
  --color-txt-primary: var(--txt-primary);
  --color-txt-system-danger: var(--txt-system-danger);
  --color-txt-zinc-black: var(--txt-zinc-black);
  --color-bg-dark-grey: var(--txt-dark-grey);
  --color-neutral-primary: var(--neutral-primary);
  --color-neutral-secondary: var(--neutral-secondary);
  --color-system-danger-hard: var(--system-danger-hard);
  --color-icon-tertiery: var(--icon-tertiery);
  --color-icon-brand-primary: var(--icon-brand-primary);
  --color-icon-system-danger: var(--icon-system-danger);
  --color-elements-quarternary: var(--elements-quarternary);
  --color-brand-primary: var(--brand-primary);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.w-content {
  max-width: 1200px;
}

.clip-triangle {
  clip-path: polygon(50% 0%, 100% 0, 100% 45%);
}
